body {
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

p {
    font-size: 22px;
    padding: 10px;
}

.buttonContainer, .reset {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 100px;
    
}

.results {
    display: flex;
    gap: 50px;
    margin: 10px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

#playerScore, #computerScore, #finalGameResult {
    text-align: center;
    margin: 10px;
}

.gameResult, #finalGameResult {
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}
/* 
.playerLabels, .computerLabels {
    display: flex;
    align-items: center;
} */




